name: Markdown action: create indexes

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  create-index:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Criar índices Markdown
        uses: DaanV2/Markdown-Action-Create-Indexes@v5.1.0
        with:
          folder: 2025.2/avaliacoes/unidade01
          filename: Readme.md
