name: Gerar Readme com índices Markdown

on:
  push:
    paths:
      - "2025.2/avaliacoes/unidade01/**"
  workflow_dispatch:

jobs:
  generate-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Gerar Readme.md com links dos arquivos
        uses: DaanV2/Markdown-Action-Create-Indexes@v5.1.0
        with:
          folder: 2025.2/avaliacoes/unidade01
          filename: Readme.md
          includeExt: true

      - name: Commit do Readme.md gerado
        uses: EndBug/add-and-commit@v9
        with:
          message: "Atualiza Readme.md com índice de arquivos"
          add: "2025.2/avaliacoes/unidade01/Readme.md"
